<html  xmlns:th="http://www.thymleaf.org" th:replace="normal/base::layout(~{::div})">
	<head>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<title>about page</title>
	
	<body>
		<div th:if="${session.message}">
			 <div th:classappend="${'alert-'+session.message.type}" class="alert">
			<span th:text="${session.message.content}"></span>
			
		 </div>
		
		 </div>
		 
		<div>
		
		 
			<form class="card1" th:object="${contact}" method="post" th:action="@{/user/process-contact}" enctype="multipart/form-data">
				<h2 class="text-center">Add Contacts</h2>
 <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-plus"></i></span>
  </div>
  <input type="text" name="name" class="form-control" placeholder="Enter name here" required aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
  </div>
  <input type="text" name="secondName" class="form-control" placeholder="Enter Nick name here" aria-label="Username" aria-describedby="basic-addon1">
</div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
  </div>
  <input type="number" name="phone" class="form-control" required  placeholder="Enter Phone Number here" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
  </div>
  <input type="email" name="email" required class="form-control" placeholder="Enter Email here" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-briefcase"></i></span>
  </div>
  <input type="text" name="work" class="form-control" placeholder="Enter Work here" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <textarea rows="6" cols="130" name="description" placeholder="Write description here"></textarea>
</div>

<div class="input-group mb-3">
  <input type="file" name="profileImage">
</div>

<div class="text-center">
	<button type="submit" class="btn btn-outline-primary" >Save Contact</button>
</div>

</form>
<script>
	$(document).ready(()=>{
		$(".item").removeClass("active");
		$("#add-link").addClass("active");
		
	})
 </script>
 </div>

	</body>
</html>